#image-container {
    display: flex; /* Xếp hàng ngang các phần tử con */
    overflow: hidden; /* Ẩn các phần tử con nằm ngoài khung hiển thị */
  }
  
  #image-container img {
    width: 100%; /* Đảm bảo kích thước ảnh phù hợp với khung hiển thị */
    display: none; /* Ẩn tất cả các ảnh */
  }
  
  #image-container img.active {
    display: block; /* Hiển thị ảnh hiện tại */
  }
  